<nav class="navbar">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/images/tunisair.png" alt="Logo" class="logo" />
  </div>

  <!-- Navigation centrale -->
  <div class="center-container">
    <ul class="nav-links">
      <li>
        <button [routerLink]="['/about']" class="nav-button">
          <i class="fa fa-info-circle"></i> About
        </button>
      </li>
      <li>
        <button [routerLink]="['/help']" class="nav-button">
          <i class="fa fa-question-circle"></i> Help
        </button>
      </li>
      <li class="service-container">
        <button class="nav-button" 
                (mouseenter)="onServiceMouseEnter()" 
                (mouseleave)="onServiceMouseLeave()">
          <i class="fa fa-cogs"></i> Service
        </button>

        <div *ngIf="showService" class="service-box">
          <h3>Nos Services</h3>
          <ul>
            <li><i class="fa fa-users"></i> Consultation</li>
            <li><i class="fa fa-file-alt"></i> Gestion des réclamations</li>
            <li><i class="fa fa-gavel"></i> Assistance juridique</li>
            <li><i class="fa fa-folder-open"></i> Gestion de dossiers</li>
            <li><i class="fa fa-handshake"></i> Contrats</li>
          </ul>
          <h4>Procédures</h4>
          <ul>
            <li><i class="fa fa-cogs"></i> Contact avocat</li>
            <li><i class="fa fa-cogs"></i> Procédure 2</li>
            <li><i class="fa fa-cogs"></i> Procédure 3</li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- Recherche -->
    <div class="search-container">
      <input type="text" placeholder="Search..." class="search-input" />
      <button class="search-button">
        <i class="fa fa-search"></i> Search
      </button>
    </div>
  </div>

  <!-- Langue -->
  <div class="language-container">
    <button class="language-button" 
            (mouseenter)="onMouseEnter()" 
            (mouseleave)="onMouseLeave()">
      <i class="fa fa-globe"></i>
    </button>
    <ul *ngIf="showCountries" class="dropdown-menu">
      <li (click)="selectCountry('Maroc')"><img src="assets/flags/morocco.png" alt="Maroc" class="flag-icon"> Maroc</li>
      <li (click)="selectCountry('Algerie')"><img src="assets/flags/algeria.png" alt="Algérie" class="flag-icon"> Algérie</li>
      <li (click)="selectCountry('Tunisie')"><img src="assets/flags/tunisia.png" alt="Tunisie" class="flag-icon"> Tunisie</li>
      <li (click)="selectCountry('Libye')"><img src="assets/flags/libya.png" alt="Libye" class="flag-icon"> Libye</li>
      <li (click)="selectCountry('Mauritanie')"><img src="assets/flags/mauritania.png" alt="Mauritanie" class="flag-icon"> Mauritanie</li>
      <li (click)="selectCountry('France')"><img src="assets/flags/france.png" alt="France" class="flag-icon"> France</li>
      <li (click)="selectCountry('Belgique')"><img src="assets/flags/belgium.png" alt="Belgique" class="flag-icon"> Belgique</li>
    </ul>
  </div>

  <!-- Connexion -->
  <div class="login-container">
    <button [routerLink]="['/login']" class="login-button">
      <i class="fa fa-user"></i> Login
    </button>
  </div>
</nav>
