.page-container {
  padding-left: 150px;
}
.search-icon {
  position: absolute;
  top: 300%;
  left: 100px;
  transform: translateY(-50%);
  color: #888;
  font-size: 1.2rem;
  pointer-events: none;
}

/* Style des champs de recherche avec icône et padding */
input.form-control.ps-5 {
  padding-left: 3rem; /* Ajout du padding pour la place de l'icône */
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 50px;
}

/* Focus des champs de recherche */



.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group input {
  padding-left: 35px; /* Espacement pour l'icône à gauche */
  padding-right: 70px; /* Pour éviter que le texte ne chevauche le bord droit */
  border-radius: 25px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #36b93f;
  width: 100%;
  text-align:center; /* Aligner le texte à droite dans le champ de saisie */
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #090808;
  font-size: 18px;
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 100%;
  }
}

/* Badge de degré stylisé */
.badge.bg-gradient {
  background: linear-gradient(to right, #007bff, #00c6ff);
  font-weight: 600;
  border-radius: 12px;
  padding: 0.4rem 0.7rem;
  font-size: 0.85rem;
}

.table-responsive {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-dark th {
  background-color: #8995a2;
  font-size: 1rem;
}

img.rounded-circle {
  border: 2px solid #8f979f;
  transition: transform 0.3s ease-in-out;
}

img.rounded-circle:hover {
  transform: scale(1.1);
}
.page-container {
  padding-left: 150px; /* décalage global */
}

.search-row {
  margin-left: 250px;
  margin-top: -150px; 
}

.table-responsive {
  margin-left: 250px; 
}
