<nav class="navbar">
    <div class="navbar-left">
      <div class="logo">
        <img src="assets/images/tunisair.png" alt="Logo">
      </div>
    </div>
  
  
    <div class="navbar-right">
      <button class="notification-btn">
        <i class="fas fa-bell"></i>
      </button>
      <button class="settings-btn">
        <i class="fas fa-cogs"></i>
      </button>
      <button class="back-btn">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="logout-btn">
        <i class="fas fa-sign-out-alt"></i> Déconnexion
      </button>
    </div>
  </nav>
  