<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>JURIDIQUE</h3>
        <ul>
          <li><a href="#">Affaires en cours</a></li>
          <li><a href="#">Historique des affaires</a></li>
          <li><a href="#">Suivi des audiences</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>PERSONNALISER VOTRE EXPERIENCE</h3>
        <ul>
          <li><a href="#">Sélection de l'avocat</a></li>
          <li><a href="#">Documents juridiques</a></li>
          <li><a href="#">Notifications</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>GESTION</h3>
        <ul>
          <li><a href="#">Mes affaires</a></li>
          <li><a href="#">Suivi des consignations</a></li>
          <li><a href="#">Gestion des contrats</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>RESSOURCES</h3>
        <ul>
          <li><a href="#">Législation en Tunisie</a></li>
          <li><a href="#">Contacts d'avocats</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Aide juridique</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="newsletter">
        <h3>OFFRES JURIDIQUES</h3>
        
      </div>

      <div class="social-media">
        <h3>RESEAU SOCIAL</h3>
        <div class="icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
</footer>
