<div class="chatbot-wrapper">
  <!-- HEADER -->
  <div class="chatbot-header">
    <img src="assets/juridique-bot.png" alt="Bot" class="bot-icon" />
    <div>
      <h3>Juridique-bot </h3>
      <small>Your Virtual Assistant</small>
    </div>
  </div>

  <!-- CORPS DU CHAT -->
  <div class="chatbot-body">
    <div *ngFor="let msg of messages" class="chat-message" [ngClass]="msg.type">
      {{ msg.text }}
    </div>

    <div *ngIf="loading" class="chat-message bot">Recherche en cours...</div>
  </div>

  <!-- PIED DU CHAT -->
  <div class="chatbot-footer">
    <input
      type="text"
      [(ngModel)]="question"
      (keyup.enter)="poserQuestion()"
      placeholder="Tapez votre message ici"
    />
    <button (click)="poserQuestion()">➤</button>
  </div>
</div>
