.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: #c70000; /* Rouge foncé */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.logo span {
  margin-left: 8px;
}

.login-container {
  margin-left: 3rem; /* espace entre logo et CONNEXION */
}

.login-text {
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}

.login-text:hover {
  text-decoration: none;
}
