<div class="sidebar">
    <img src="assets/images/tunisair.png" alt="Tunisair Logo" class="logo" />
    <h2>Nouvelle inscription</h2>
    <ul class="steps">
      <li>
        <a routerLink="form-avocat" class="role-link">
          <i class="fas fa-gavel"></i> S'inscrire en tant qu'Avocat
        </a>
      </li>
      <li>
        <a routerLink="form-expert" class="role-link">
          <i class="fas fa-user-tie"></i> S'inscrire en tant qu'Expert
        </a>
      </li>
      <li>
        <a routerLink="form-demandeur" class="role-link">
          <i class="fas fa-users"></i> S'inscrire en tant que Personel Juredique
        </a>
      </li>
    </ul>
    <footer>
      <a href="https://www.tunisair.tn">WWW.TUNISAIR.TN</a>
      <p>TUNIS - <span>FRANÇAIS ▼</span></p>
    </footer>
  </div>
  