<aside class="sidebar">
  <!-- User Info Section -->
  <div class="navbar-center">
    <div class="user-info">
      <img src="assets/images/user-profile.jpg" alt="User Profile" class="user-image">
      <span class="user-name">John Doe</span>
    </div>
  </div>

  <!-- Search Bar Section -->
  <div class="search-container">
    <input type="text" placeholder="Rechercher..." class="search-input">
    <i class="fas fa-search"></i>
  </div>

  <!-- Menu Section -->
  <ul class="menu">
    <li class="active"><i class="fas fa-user"></i> Profile</li>

    <li><i class="fas fa-users"></i> Gestion des utilisateurs</li>

    <li [routerLink]="['/admin-dashboard/add-role']" style="cursor: pointer;">
      <i class="fas fa-users-cog"></i> Gestion des rôles
    </li>
    <li><i class="fas fa-gavel"></i> Gestion des avocats</li>
    <li><i class="fas fa-user-tie"></i> Gestion des clients</li>
    <li><i class="fas fa-user-md"></i> Gestion des experts</li>
    <li><i class="fas fa-file-contract"></i> Gestion des contrats</li>
    <li><i class="fas fa-folder"></i> Gestion des dossiers</li>
    <li><i class="fas fa-balance-scale"></i> Gestion des affaires juridiques</li>
  </ul>
</aside>
