/* Sidebar Styles */
.sidebar {
  width: 240px;  /* Largeur augmentée pour éviter que le texte soit tronqué */
  background: #2f4050;
  color: white;
  height: calc(100vh - 50px);
  padding: 20px 15px;
  position: fixed;
  left: 0;
  top: 57px;
  z-index: 1;
  overflow-y: auto;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2f4050;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: fixed;
  height: 57px;
}

/* User Info Section */
.navbar-center {
  margin-bottom: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-image {
  width: 75px;
  height: 90px;
  border-radius: 60%;
  margin-right: 10px;
  object-fit: cover;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

/* Search Bar Section */
.search-container {
  display: flex;
  align-items: center;
  background-color: #34495e;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 10px;
}

.search-container .search-input {
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px;
  margin-right: 5px;
  width: 100%;
}

.search-container .search-input:focus {
  outline: none;
}

.search-container i {
  color: white;
  font-size: 16px;
}

/* Menu Section */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background 0.4s;
}

.menu li i {
  flex-shrink: 10; /* empêche l’icône de se réduire */
}

.menu li:hover,
.menu li.active {
  background: #1ab394;
  border-radius: 4px;
}