.sidebar {
  width: 250px;
  background: #ffffff;
  color: #dc2626;
  height: calc(100vh - 57px);
  padding: 20px 15px;
  position: fixed;
  top: 57px;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  box-shadow: 2px 0 8px rgba(220, 38, 38, 0.1); /* rouge avec opacité */
  border-right: 1px solid #dedede;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fffefe;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 25px;
  font-weight: 600;
  color: #dc2626;
}

.user-role {
  font-size: 16px;
  color: #dc2626;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
}

.search-container i {
  color: #dc2626;
  margin-right: 8px;
}

.search-input {
  border: none;
  background: transparent;
  color: #000000;
  flex-grow: 1;
  outline: none;
}

/* Menu */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  font-size: 16px;
  color: #dc2626;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease, color 0.2s;
}

.menu li i {
  min-width: 20px;
  font-size: 17px;
  color: #dc2626;
}

.menu li span {
  flex: 1;
}

.menu li:hover {
  background-color: #ffe5e5; /* une nuance très claire de rouge */
  color: #dc2626;
}

.menu li.active {
  background-color: #ffffff; /* une autre nuance claire de rouge */
  font-weight: bold;
  color: #dc2626;
}
