/* Sidebar Styles */
.sidebar {
  width: 150px;  /* Largeur de la sidebar */
  background: #2f4050;
  color: white;
  height: calc(100vh - 50px);  /* Prend toute la hauteur de la fenêtre mais sans recouvrir la navbar */
  padding: 40px;
  position: fixed;
  left: 0;
  top: 57px; /* Ajout d'une marge pour éviter que la navbar ne recouvre la sidebar */
  z-index: 1; /* Assurez-vous que la sidebar soit au-dessus du contenu principal */
  overflow-y: auto;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2f4050;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  top: 20;
  left: 0;
  right: 0;
  z-index: 10;  /* Assurez-vous que le navbar est au-dessus de la sidebar */
}

/* User Info Section */
.navbar-center {
  margin-bottom: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.user-image {
  width: 55px;
  height: 90px;
  border-radius: 60%;
  margin-right: 10px;
}

.user-name {
  font-size: 12px;
  font-weight: 600;
}

/* Search Bar Section */
.search-container {
  display: flex;
  align-items: center;
  background-color: #34495e;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.search-container .search-input {
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px;
  margin-right: 5px;
  width: 100%;
}

.search-container .search-input:focus {
  outline: none;
}

.search-container i {
  color: white;
  font-size: 16px;
}

/* Menu Section */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.menu li i {
  margin-right: 6px;
}

.menu li:hover, .menu li.active {
  background: #1ab394;
}
