<app-nav></app-nav>

<div class="login-container">
  <div class="login-card">
    <h2>Se connecter</h2>
    <p>Veuillez saisir votre email et votre mot de passe.</p>

    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" id="email" [(ngModel)]="email" name="email" required>
      </div>

      <div class="input-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>

      <div class="checkbox-group">
        <input type="checkbox" id="remember-me">
        <label for="remember-me">Se souvenir de moi</label>
      </div>

      

      <button type="submit" class="btn" [disabled]="isLoading">
        <app-spinner *ngIf="isLoading" [isLoading]="isLoading"></app-spinner>
        <span *ngIf="!isLoading">Se connecter</span>
      </button>
    </form>

    <a href="#" class="forgot-password">Mot de passe oublié ?</a>
    <div class="signup-section">
        <p>Vous n'avez pas encore de compte ?</p>
        <button class="signup-btn" (click)="goToRegister()">S'inscrire</button>
      </div>
  </div>
</div>
